#!/sbin/busybox sh

cat << CTAG
{
    name:NETWORK,
    elements:[
    	{ SPane:{
		title:"TCP Congestion Control",
		description:" Select your preferred WIFI TCP algorithm. Regulates upload and download affecting throughput in various ways. Default is cubic."
    	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`cat proc/sys/net/ipv4/tcp_congestion_control`,
		action:"generic proc/sys/net/ipv4/tcp_congestion_control",
		values:[`while read values; do busybox printf "%s, \n" $values; done < proc/sys/net/ipv4/tcp_available_congestion_control`]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"WiFi Power Mode",
		description:" \n\tExperimental: Control the WiFi power mode during screen on & off.\n\nMax = Maximum power savings, but reduced throughput & increased AP latency.\nFast = Good power savings & throughput with a slightly reduced AP latency.\nOff & Force Off = No power savings and normal AP latency (not too sure of the difference yet).\n\nNote: You MUST suspend and resume display for changes to take effect!\n"
        }},
        { SOptionList:{
		title:"WiFi Power Mode While Screen-On",
		description:"",
		default:"2",
		unit:"",
		action:"generic /sys/module/dhd/parameters/wifi_pm_awake",
		values:{
		   	"0":"Off (0)",
		   	"1":"Max (1)",
		   	"2":"Fast (2)",
		   	"3":"Force Off (3)"
		}
	}},
	{ SSpacer:{
		   height:1
	}},
	{ SOptionList:{
		title:"WiFi Power Mode While Screen-Off",
		description:"",
		default:"1",
		unit:"",
		action:"generic /sys/module/dhd/parameters/wifi_pm_suspended",
		values:{
			"0":"Off (0)",
		   	"1":"Max (1)",
		   	"2":"Fast (2)",
		   	"3":"Force Off (3)"
		}
	}},
	{ SSpacer:{
		   height:1
	}},
	{ SPane:{
		title:"WiFi DTIM Interval",
		description:" \n\tThe Delivery Traffic Indication Message (DTIM) corresponds to every beacon sent by the WiFi access point, and lets clients know data is about to be exchanged. This interval allows your WiFi chip to sleep longer before it has to wake up and listen for broadcasts and multicasts. By default the driver uses a value of 0, which means it defaults to what the WiFi access point defaults to. Often times that default is 1 (as frequently as possible). The higher this number, the less power the WiFi radio will use, but the longer it will take before it knows data has arrived (aka push notifications may be slow).\n\n\tNote: You MUST suspend and resume display for changes to take effect!\n"
        }},
        { SSeekBar:{
       		title:"WiFi DTIM Interval While Screen-On",
		description:" Sets the ratio of how many DTIMs the driver will skip while the screen is on. 1:1 = every time (as fast as possible), 1:2 = every other one, 1:3 = every third one, etc. 0 means use access point's default value.\n\n\tNote: You MUST suspend and resume for changes to take effect!\n",
			default:0,
			max:100,
			min:0,
			step:1,
			unit:"",
			action:"generic /sys/module/dhd/parameters/dtim_awake",
	}},
	{ SSpacer:{
		height:1
	}},
	{ SSeekBar:{
       		title:"WiFi DTIM Interval While Screen-Off",
		description:" Sets the ratio of how many DTIMs the driver will skip while the screen is off. 1:1 = every time (as fast as possible), 1:2 = every other one, 1:3 = every third one, etc. 0 means use access point's default value.\n\n\tNote: You MUST suspend and resume display for changes to take effect!\n",
			default:0,
			max:100,
			min:0,
			step:1,
			unit:"",
			action:"generic /sys/module/dhd/parameters/dtim_suspended",
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{ 
		title:"TCP init_rwnd",
		description:" Default is 10."
	}},
	{ SDescription:{
		description:""
	}},
        { SSeekBar:{
                title:"tcp_default_init_rwnd",
                min:3, max:100, step:1,
                default:`cat /proc/sys/net/ipv4/tcp_default_init_rwnd`,
                action:"generic /proc/sys/net/ipv4/tcp_default_init_rwnd"
        }},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"TCP/IP Network Security Tweak",
		description:" Protect against SYN & DoS attack etc. Default is Disabled."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network tcp_security)`,
		action:"network tcp_security",
		values:[Disabled, Enabled,]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"TCP/IP Network Speed Tweak",
		description:" Optimize TCP buffer sizes for various networks. Default is Disabled."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network tcp_speed)`,
		action:"network tcp_speed",
		values:[Disabled, Enabled,]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"GPS Region",
		description:" Select GPS-Time-Zone for faster GPS lock! Use your region! A backup is automatically generated as /system/etc/gps.conf.bak, so by selecting Default will revert to original gps.conf."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network gps_zone)`,
		action:"network gps_zone",
		values:[Default, Asia, Europe, Oceania, North_America, South_America, Africa,]
	}},
	{ SDescription:{
		description:""
	}},
    ]
}
CTAG
